<div class="modal-header">
    <h3 class="modal-title">{{title}}</h3>
</div>
<div class="modal-body">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">Name:</div>
            <div class="col-sm-8"><input type="text" ng-model="item.Name" required /></div>
        </div>
        &nbsp;
        <div class="row">
            <div class="col-sm-4">User name:</div>
            <div class="col-sm-8"><input ng-disabled="IsEdit" type="text" ng-model="item.UserName" required /></div>
        </div>
        &nbsp;
        <div class="row">
            <div class="col-sm-4">Password:</div>
            <div class="col-sm-8"><input ng-disabled="IsEdit" type="password" ng-model="item.Password" /></div>
        </div>
        &nbsp;
        <div class="row">
            <div class="col-sm-4">Path:</div>
            <div class="col-sm-8"><input ng-disabled="IsEdit" type="text" ng-model="item.Path" required /></div>
        </div>
        &nbsp;
        <div class="row">
            <div class="col-sm-4">Is active:</div>
            <div class="col-sm-8" ng-switch="item.IsActive">
                <span ng-switch-when="true" style="color:limegreen;font-size:x-large;">&#x2713;</span> 
                <span ng-switch-when="false" style="color:red;font-size:x-large;">&#x2718; &nbsp; &nbsp; <button ng-disabled="IsEdit" class="btn btn-default" ng-click="testConnection()">Test connection</button></span> 
            </div>
        </div>
    </div>    
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()" ng-disabled="!item.IsActive &&  !IsEdit">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>