<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<link rel="stylesheet" media="screen" href="{{ url_for ('static', filename='bootstrap.min.css') }}" >
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon1.png') }}" />
 <script
 src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <link rel="stylesheet"
 href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script
 src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>





</head>
<body class="div">
<div class="container">
<div class="page-header">
<h1>Firebrick: Imager</h1>
</div>
<ul>
</ul>
<p style="font-weight: bold; text-align: left;">Image Verification
 Successful.</p>
 <br 
 <p>A forensic image of your evidential device has been save with the filename image.dd to the attached USB drive</p>




<div style="text-align: center;">
<div style="text-align: left;">

<script src="{{ url_for('static', filename='jquery-1.11.2.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>

</div>
</body>
</html>

